#section_da_parte_da_sacola {
    position: relative;
    top: 316.5px;
    left: 4.9%;
    width: 1226px;
}

.cart-item   {
    margin-bottom: 2vw;
}

.cart-item > img  {
    width: 220px;
    height: 278px;
}
.cart-item > article   {
    position: relative;
    top: -100px;
    left: 10px;
    width: 940px;
}
.cart-item > button   {
    position: relative;
    left: 20px;
}

.cart-item > article >h1  {
    display: none;
}
#item-mercadopago  {
    display: none;
}
