@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#main-adc-img {
    position: relative;
    top: 17vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#main-adc-img > article > p {
    font-size: 0.7vw;
    font-family: 'Poppins', sans-serif;
    
}

/*section*/
#section-adc-img {
    display: flex;
    column-gap: 2vw;
}

/*blocos adc*/
#section-blocos-adc {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5.5px;
    width: 53.15vw;
    height: 66.5vw;
}

.blocos-adc {
    background-color: aqua;
    width: 26.37vw;
    height: 32.84vw;
    
}

/*descrição*/
#section-descricao {
    position: relative;
    top: 2.5vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

#form-input {
    display: flex;
    flex-direction: column;
    gap: 1.63vw;
}

.inputs-adc-img > input {
    width: 24.51vw;
    height: 2.25vw;
    padding-left: 0.5vw;
    font-size: 0.80vw;
    font-family: 'Poppins', sans-serif;
}

.inputs-adc-img > input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 0.82vw;
    
}

#article-input-cor {
    display: flex;
    align-items: center;
    column-gap: 0.3vw;

}
 /*input cor*/
#article-input-cor > input {
    width: 22.13vw;
    height: 2.25vw;
    padding-left: 0.5vw;
    font-size: 0.80vw;
    font-family: 'Poppins', sans-serif;
}

#article-input-cor::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 0.82vw;
}

#article-input-cor > label {
   font-size: 0.85vw;
   font-family:  'Poppins', sans-serif;
   font-weight: 550;
}

/*descrião parte do texto*/
#descricao-paragrafos :nth-child(1) {
    font-family:  'Poppins', sans-serif;
    font-size: 0.78vw;
}
#descricao-paragrafos :nth-child(1) > span {
    color: #D9001B;
}

#descricao-paragrafos :nth-child(2) {
    font-family:  'Poppins', sans-serif;
    font-size: 0.80vw;
}

/*descrião parte do botão*/
#botao-adc-prod > input {
    width: 24.51vw;
    height: 2.82vw;
    border: none;
    background-color: #212121;
    color: #FFFFFF;
    font-size: 0.85vw;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

/*parte do adcionar iamgem do prototipo*/
.upload-area {
    width: 26.37vw; /* Largura do retângulo */
    height: 32.84vw; /* Altura do retângulo */
    border: 2px solid #ccc; /* Adicionando uma borda cinza */
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .upload-area:hover {
    border-color: #ddd; /* Mudando a cor da borda para um cinza mais claro ao passar o mouse */
  }
  
  #preview img, #preview video {
    width: 100%;
    height: 102%;
    object-fit: cover; /* Para cobrir todo o espaço disponível sem distorção */
    display: block;
    margin-bottom: 10px;
  }
  
  .file-input {
    display: none; /* Escondendo o campo de entrada padrão */
  }
  
  .upload-area.file-added {
    border-color: transparent;
  }

  /*imagem de cruz*/
  .imagem-de-cruz {
    width: 1.4vw;
    height: 1.4vw;
    background-image: url('../../IMG/adicionar-produto/thumbnail_image.png');
    background-position: center;
    background-size: 1.4vw;
    z-index: 2;
  }

