@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');


html {
    font-size: 62.5%;
}


* {
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
}

:root {
    --branco: #fff;
    --preto: #000;

    --font-size-primaria: 2.1rem;
    --font-size-secundaria: 3.1rem;

    --peso-fonte-primario: 300;
    --peso-fonte-secundario: 500;
}

body {
    font: var(--peso-fonte-primario) var(--font-size-primaria) 'Poppins', sans-serif;
    color: var(--preto);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.swiper {
    margin: 100px auto;
    width: 100vw;
    height: 110vh;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
}

.swiper-slide:nth-child(2n) {
    height: 110vh;
    width: 100vw;
    background-color: #fff;
}

.slogan-zip {
    position: absolute;
    right: 5vw;
    top: 45vh;
}

.slide-primeiro-links {
    position: absolute;
    top: 77vh;
    right: 5vw;
}

.link-bazar,
.link-como-vender {
    padding: 0 1vw 0 1vw;
    color: var(--branco);
}

.link-como-vender {
    border-left: 2px solid var(--branco);
    padding-left: 1.4vw;
}



.homem-costas {
    width: 800px;
    margin: 10vh 0 0 -105vh;
}


.init-hidden {
    opacity: 0;
    transition-duration: 2s;
}

.init-hidden--direita {
    opacity: 0;
    transition-duration: 3s;
}

figure > .swiper {
    width: 30vw;
    height: 80vh;
}

.swiper-slide2 {
    z-index: 4;
    text-align: center;
    font-size: 18px;
    color: #000;
    background: #ff0101;
    display: flex;
    justify-content: center;
    align-items: center;
}
