@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/** Começo */

#on{
    margin-left: 4vw;
    margin-right: 4vw;
}

#welcome{
    font-size: 24px;
    font-weight: 600;
}

#sales{
    font-size: 14px;
    font-weight: 500;
    color: #02A7F0;
}


/*Adicionar Produto*/

#adding{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}


hr{
    border-color:#f1f1f1;
    box-sizing:border-box;
    width:100%;  
    height: 1px;
  }


/* Botão Adicionar Produto*/

#product{
    flex-direction: row;
}

#box{
    margin-top: 15px;
    margin-bottom: 35px;

    background-color: rgb(255, 255, 255);
    width: 10.5rem;
    height: 14.5rem;

    border-style: solid;
    border-width: 1px;
    border-radius: 28px;
    border-color: #333333;

    display: grid;
    place-items: center;
}

#add{
    font-weight: 400;
    color: #333333;
    vertical-align: none;
    font-size: 28px;
}

/* Informações Usuario*/

#info{
    background: #F2F2F2;
    padding-top: 3px;
    padding-bottom: 3px;
}

#data, #requests, #salle, #addv, #complaint, #warming{
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
}