#foto{
    display: none;
}

#nome, #senha, #email, #cpf, #cep{
    width: 80vw;
    height: 5vh;
    margin-top: 5px;
    margin-bottom: 5px;
}

#tornar{
    width: 80vw;
}


#cadastro{
    width: 80vw;
}

#caixa{
    background-color: #F6F6F6;

    height: 910px;
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px;
    position: absolute;
    top: 550px;
 
    margin: 0; 
    transform: 0; 
    font-family: 'Poppins', sans-serif;
    border: none;
}

#forms, #tornar{
    margin-left: 8.5vw;
    margin-right: 4vw;
}

#cadastro{
    margin-left: -8vw;
}

#dia, #mes, #ano{
    width: 24vw;
    height: 5vh;
    margin-top: 3px;
    font-size: 16px;
    border-width: 1px;
}

#dia, #mes{
    margin-right: 2.5vw;
}

#data{
    margin-bottom: 25px;
    width: 85vw;
}

#botao{
    width: 80vw;
    height: 70px;
    cursor: pointer;
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    border-color: rgb(36, 36, 36);
    margin-bottom: 50px;
    font-size: 23px;
    font-weight: 500;
    margin-top: 20px;

}

#form{
    margin-left: -20px;
}

#ajust{
    width: 27vw;
}

#boxa{
    width: 15rem;
}

#nome, #cep, #senha, #email, #cpf{
    width: 80vw;
    height: 5vh;
    margin-top: 10px;
    border-width: 1px;

}

#regra{
    padding: 5px;
    background-color: #e7e4e4; /* Cor de fundo */
    border: 2px solid #c0c0c0; /* Borda sólida */
    width: 78vw;
    border-radius: 5px;
    font-size: 10px;
}