@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#display-flex {
    display: flex;
    width: 100vw;
    justify-content: center;
}

#produtos-cell {
    position: relative;
    top: 15vh;
    margin-left: 3.8vw;
    width: 100vw;
}

.containerfv {
    position: relative;
}

.button {
    position: relative;
    left: 150px;
}

.cart-itemfv {
    display: flex;
    column-gap: 2vw;
    margin-bottom: 5vh;
    position: relative;
    left: 0px;
}

#removeProdFav {
    position: absolute;
    right: 3vw;
    margin-top: 0.2vh;
    display: block;
    border: none;
    background-color: white;
    background-image: url("../../../IMG/wishlist/produtos/x_para_remover_refeito.png");
    background-size: 4.17vw;
    background-position: center center;
    width: 4.17vw;
    height: 4.17vw;
}

#removeProdFav {
    position: absolute;
    right: 5vw;
}

#tituloProdFav {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vw;
    margin-bottom: 1.5vh;
}
#precoProdFav {
    font-family: 'Poppins', sans-serif;

}
#imgProdFav {
    width: 30vw;
    height: 35vw;
}

#produto-cell-linha > hr{
    background-color: black;
    position: relative;
    top: 13vh;
    margin-left: 3.8vw;
    width: 90.35vw;   

}