<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Bazar</title>
    <link rel="stylesheet" href="../../Bazar/adc-b/adc-bazar.css">
    <script src="../../Bazar/adc-b/img.js" defer></script>
</head>
<body>
<form id="imageSection" action="/bazarAdc" method="post" >
    <section id="imageSection">
        <label for="fileInput" id="imageSelector">
            <div id="imagePlaceholder">
                <span>+</span>
            </div>
            <img id="imagePreview" src="" alt="Image Preview" style="display: none;">
            <input type="file" id="fileInput" accept="image/*">
        </label>
        <div id="formOverlay">
            <input type="text"  id="Name" placeholder="Nome" name="Nome">
            <input type="text" id="Year" placeholder="Ano" name="Ano">
            <input type="text" id="Description" placeholder="Breve Descrição" name="Descricao">
        </div>
    </section>

    <section id="additionalInputs">
        <input type="text" placeholder="Instituição de Caridade" name="Titulo">
    </section>

    <section id="textAreaSection">
        <textarea placeholder="Biografia do Famoso" name="Biografia"></textarea>
    </section>

    <section id="cen">
        <article id="product">
            <a href="/adc-produto">
                <section id="box">
                    <h1 id="add"> <lord-icon src="https://cdn.lordicon.com/hqymfzvj.json" trigger="hover"
                            style="width:25px;height:25px">
                        </lord-icon></h1>
                </section>
            </a>

            <!-- Other Products RS!!!!! -->

            <!-- <a>
                <section id="ash">
                    <h1 id="addyy"></h1>
                </section>
                <p id="cust">Cachicol</p>
                <p id="cust">9,99</p>
            </a> -->

            
        </article>
    </section>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    

    <section id="submitSection">
        <button id="submitBtn">ADICIONAR BAZAR</button>
    </section>
    <script src="script.js"></script>
</form>
</body>
</html>
