<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produtos</title>
    <link rel="stylesheet" href="../Bazar/adc-b/adc-bazar-d.css">
    <link rel="stylesheet" href="../Bazar/adc-b/adc-bazar-m.css">
</head>
<body>
    <section>
        <section id="counter">
            <form id="bazaras">
                <h1 id="Create">Administrar Bazar</h1>
                <section id="file-upload">
                    <input type="file" id="fileInput">
                    <label for="fileInput"></label>
                </section>
                <input type="text" id="Caridade" placeholder="Nome da Instituição de Caridade">
                <textarea id="Bio" placeholder="Informe sua Biografia brevemente e coloque junto a porcentagem que será doada."></textarea>
            

        <article id="adding">
            <h2 id="add">Adicionar Produto</h2>
        </article>
        <hr />

        <article id="product">
            <a href="/adc-produto">
                <section id="box">
                    <h1 id="add"> <lord-icon src="https://cdn.lordicon.com/hqymfzvj.json" trigger="hover"
                            style="width:25px;height:25px">
                        </lord-icon></h1>
                </section>
            </a>
            <!-- Adiciona Caixas!!!!! -->

        </article>
        <script src="https://cdn.lordicon.com/lordicon.js"></script>

        <section id="cente">
            <button id="But">Atualizar Bazar</button>
        </section>
 
    </form>
    </section>

    </section>
    </section>

</body>
</html>