<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produtos</title>
    <link rel="stylesheet" href="../Bazar/adc-b/adc-bazar-d.css">
    <link rel="stylesheet" href="../Bazar/adc-b/adc-bazar-m.css">
</head>
<body>
    <section>
        <section id="counter">
            <form id="bazaras">
                <h1 id="Create">Criar Bazar</h1>
                <section id="file-upload">
                    <input type="file" id="fileInput">
                    <label for="fileInput"></label>
                </section>
                <input type="text" id="Caridade" placeholder="Nome da Instituição de Caridade">
                <textarea id="Bio" placeholder="Informe sua Biografia brevemente e coloque junto a porcentagem que será doada."></textarea>
            </form>
        </section>
    </section>

</body>
</html>