<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zip | Perfil de administrador</title>
    <link rel="stylesheet" href="../../administrador/adm.css">
</head>

<body>
    <header>
        cabeçalho adm
    </header>
    <main>
        <%- include(page) %>
    </main>
    <footer>
        pagina adm
    </footer>
</body>

</html>