<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazar ZIP</title>
    <link rel="stylesheet" href="../css-bazar/parte_superior_do_desconto-bazar.css">
    <link rel="stylesheet" href="../css-bazar/menu_principal-bazar.css">
    <link rel="stylesheet" href="../css-bazar/menu_retratio.css">
    <link rel="stylesheet" href="../css-bazar/parte_dos_relogios-bazar.css">
    <link rel="stylesheet" href="../css-bazar/miran_ty_2024.css">
    <link rel="stylesheet" href="../css-bazar/precision_and_heritage-bazar.css">
    <link rel="stylesheet" href="../css-bazar/julia_guimaroes.css">
    <link rel="stylesheet" href="../css-bazar/stories_recentes-bazar.css">
    <link rel="stylesheet" href="../css-bazar/rodape-bazar.css">
    <link rel="stylesheet" href="../css-bazar/yupiee-bazar.css">
    <link rel="stylesheet" href="../css-bazar/yupiee_slide-bazar.css">
    <link rel="stylesheet" href="../css-bazar/florenza.css">
    <link rel="stylesheet" href="../css-bazar/cat_down-bazar.css">
    <link rel="stylesheet" href="../css-bazar/cat_down_slide-bazar.css">
    <link rel="stylesheet" href="../css-bazar/ong_luisa_mell.css">
    <link rel="stylesheet" href="../css-bazar/body.css">
    <link rel="stylesheet" href="../css-bazar/slide_instituto_sol.css">
    <link rel="stylesheet" href="../css-bazar/slide_pequeno_principe.css">

    <link rel="shortcut icon" href="IMG/fivecon/logo preta grande.ico" type="image/x-icon">
</head>
<body>
    
    <!-- parte superior do desconto na primeira compra -->
    <a href="/masculino">
        <section id="section_parte_superior">
            <article>
                <article id="parte_superior">
                    <p id="parte_superior_texto_1"></p>
                </article>
                <!--parte das setas-->
                <article class="setas_parte_superior">
                    <img class="seta_esquerda_parte_superior" src="IMG/parte superior do desconto na primeira compra REFEITO/seta_esquerda.svg" alt="">
                    <img class="seta_direita_parte_superior" src="IMG/parte superior do desconto na primeira compra REFEITO/seta_direita.svg" alt="">
                </article>
            </article>
        </section>
    </a>


    <!--menu principal-->
    <section id="menu_principal_como_todo">
        <!--area do menu que contem os links-->
        <article id="menu_principal">
            <section id="section_menu_principal">
                <section id="parte_dos_links_do_menu">
                    <a href="/bazar" class="links_do_menu1">BAZAR</a>
                        <a href="" class="links_do_menu2">VENDER</a>
                        <section id="section_menu_retratio">
                            <section id="section_do_menu_retratio_2">
                                <!--parte das imagens-->
                                <figure id="figure_imagens_menu_retratio">
                                    <figure id="menu_retratio_imagem1">
                                        <img width="230px" src="../../IMG/menu_retratio/imagem_1.png" alt=""> <figcaption class="parte_escrita_figcaption">
                                            Bazar Nick DJ
                                        </figcaption>
                                    </figure>
                    
                    
                                    <figure id="menu_retratio_imagem2">
                                        <img height="356px" src="/IMG/menu_retratio/imagem2.png" alt=""> <figcaption class="parte_escrita_figcaption">
                                            Moda Passarela
                                        </figcaption>
                                    </figure>
                                </figure>
                                <!--parte das listas-->
                                <article id="article_menu_retratio_lista">
                                    <ul id="menu_retratio_ul1"><p id="menu_retratio_ul1_p">Venda na zip</p>
                                        <li class="menu_retratio_lista1">Saiba como vender</li>
                                        <li class="menu_retratio_lista1">Dicas de como vender bem</li>
                                        <li class="menu_retratio_lista1">Mais sobre comisssão</li>
                                    </ul>
                                    <ul id="menu_retratio_ul2"><p id="menu_retratio_ul2_p">Bazar</p>
                                        <li class="menu_retratio_lista2">Veja como montar o seu</li>
                                        <li class="menu_retratio_lista2">bazar na zip</li>
                                    </ul>
                                    <ul id="menu_retratio_ul3"><p id="menu_retratio_ul3_p">Ajuda</p>
                                        <li class="menu_retratio_lista3">Não recebi minha compra</li>
                                        <li class="menu_retratio_lista3">Tenho dúvidas</li>
                                    </ul>
                                </article>
                                <!--parte escrita zip marketplace-->
                                <article id="parte_escrita_menu_retratio">
                                    <img width="320px" src="IMG/menu_retratio/parte_escrita_refeito.png" alt="">
                                </article>
                            </section>
                        </section>
                    <a href="/feminino" class="links_do_menu3">FEMININO</a>
                    <a href="/masculino" class="links_do_menu4">MASCULINO</a>
                    <a href="/infantil" class="links_do_menu5">INFANTIL</a>
                    <a href="/acessorios" class="links_do_menu6">ACESSÓRIOS</a>
                </section>
            </section>
        </article>
        


        <!--logo zip-->
        <figure id="logo_zip_menu">
            <img id="logo_zip_menu_imagem" src="" alt="">
        </figure>

        
        


        <!--imagem da barra de pesquisa e etc-->
        <article id="barra_de_pesquisa_e_etc">
            <figure id="imagem_da_barra_de_pesquisa_e_etc">



                

                <figure id="imagem_da_barra_de_pesquisa" class="search-container_principal">
                    <article class="search-container_principal">
                        <article class="search-icon_principal" id="searchIcon_principal">
                            <lord-icon
                                id="icon1_principal"
                                src="https://cdn.lordicon.com/kkvxgpti.json"
                                trigger="hover"
                                style="width:21.5px;height:21.5px;display:none;">
                            </lord-icon>
                
                            <lord-icon
                                id="icon2_principal"
                                src="https://cdn.lordicon.com/kkvxgpti.json"
                                trigger="hover"
                                colors="primary:#ffffff"
                                style="width:21.5px;height:21.5px;">
                            </lord-icon>
                        </article>
                        <input type="text" class="search-input_principal" id="searchInput_principal" placeholder="Pesquisar...">
                    </article>
                </figure>
                
                <script src="../../js/pesquisa_principal.js"></script>

                <a href="/wishlist">
                    <figure id="imagem_do_icone_de_favorito">
                        <lord-icon
                            id="lordicon"
                            src="https://cdn.lordicon.com/xyboiuok.json"
                            trigger="hover"
                            style="width:25px; height:25px; display: none;">
                        </lord-icon>
                        <lord-icon
                        id="lordicon2"
                        src="https://cdn.lordicon.com/xyboiuok.json"
                        trigger="hover"
                        colors="primary:#ffffff"
                        style="width:25.5px;height:25.5px">
                    </lord-icon>
                    </figure>
                </a>

                <a href="/login_do_usuario"><figure id="imagem_do_icone_de_pessoa">
                    

                    <lord-icon
                    id="pessoa1"
                    src="https://cdn.lordicon.com/kthelypq.json"
                    trigger="hover"
                    colors="primary:#ffffff"
                    style="width:25px;height:25px">
                    </lord-icon>

                    <lord-icon
                    id="pessoa2"
                    src="https://cdn.lordicon.com/kthelypq.json"
                    trigger="hover"
                    style="width:25px;height:25px; display: none;">
                    </lord-icon>
                </figure></a>
                
                <a href="/cart">
                    <figure id="imagem_do_icone_da_sacola">
                        <lord-icon
                        id="sacola1"
                        src="https://cdn.lordicon.com/evyuuwna.json"
                        trigger="morph"
                        state="morph-shopping-bag-open"
                        
                        style="width:25px;height:25px;display:none;">
                    </lord-icon>
                        
                    <lord-icon
                        id="sacola2"
                        src="https://cdn.lordicon.com/evyuuwna.json"
                        trigger="morph"
                        state="morph-shopping-bag-open"
                        colors="primary:#ffffff"
                        style="width:25px;height:25px;">
                    </lord-icon>
                    </figure>
                </a>

               
            </figure>

            <script src="../../barra_de_pesquisa.js"></script>

            <script src="../../js/rolagem_icones.js"></script>
        </article>

        <!--barra de pesquisa e etc responsivo-->
        <section id="barra_de_pesquisa_e_etc_responsivo">

            <!--barra de pesquisa-->
            <article class="search-container">
                <article class="search-icon" id="searchIcon">
                    <lord-icon
                    id="icon1"
                    src="https://cdn.lordicon.com/kkvxgpti.json"
                    trigger="hover"
                    style="width:20px;height:20px;display:none;">
                </lord-icon>
            
                <lord-icon
                    id="icon2"
                    src="https://cdn.lordicon.com/kkvxgpti.json"
                    trigger="hover"
                    colors="primary:#ffffff"
                    style="width: 20px;height: 20px;">
                </lord-icon>

                </article>
                <input type="text" class="search-input" id="searchInput" placeholder="Pesquise">

                <script src="../../pesquisa.js"></script>
            </article>

              

            
            <!--icone sacola-->
            <article id="article_icone_sacola_cell">
                
                    <lord-icon
                        id="icon3"
                        src="https://cdn.lordicon.com/evyuuwna.json"
                        trigger="morph"
                        state="morph-shopping-bag-open"
                        
                        style="width:21px;height:21px;display:none;">
                    </lord-icon>
        

                    <lord-icon
                    id="icon4"
                    src="https://cdn.lordicon.com/evyuuwna.json"
                    trigger="morph"
                    state="morph-shopping-bag-open"
                    colors="primary:#ffffff"
                    style="width:21px;height:21px;">
                    </lord-icon>

                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
            </article>

            <article">
            <article id="openMenuBtn" class="botao_menu_cell ">
            </article>
    
            <article id="blackDiv"></article>

                   <script src="../../rolagem_menu_cell.js"></script>

                  <section id="menu" class="menu">
                    <!-- <span id="closeMenuBtn" class="closeBtn"><i class="fas fa-times">ooo</i></span> Botão de fechar menu -->
                    <section id="section_links_principais_cell">
                        <article id="article_links_principais_cell_p">
                            <p id="article_links_principais_cell_p1">BAZAR
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>

                            <p id="article_links_principais_cell_p2">VENDER
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>

                            <p id="article_links_principais_cell_p3"><a href="/feminino">FEMININO</a>
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>


                            <p id="article_links_principais_cell_p4"><a href="/masculino">MASCULINO</a>

                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>

                            <p id="article_links_principais_cell_p5"><a href="/infantil">INFANTIL</a>
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>

                            <p id="article_links_principais_cell_p6"><a href="/acessorios">ACESSÓRIOS</a>
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>
                            
                        </article>

                        <!--
                        <article id="article_links_principais_cell_img">
                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""> 

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            
                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                        </article>
                        -->
                    </section>

                    <article id="article_saiba_mais_menu_cell">
                        <p>Participe do nosso marketplace, favorite produtos e os adicione à sacola</p>
                        <button><p>Cadastre-se</p></button>
                    </article>

                    <!--parte dos icones cell-->
                    <section id="section_icones_menu_deslizante_cell">
                        <!--numero um-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon
                                    src="https://cdn.lordicon.com/kthelypq.json"
                                    trigger="hover"
                                    style="width:4.5vw;height:4.5vw">
                                </lord-icon>
                                
                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article>
                                <p><a href="/login_do_usuario" style="text-decoration: none; color: black; ">Entrar</a></p>
                            </article>
                        </article>

                        <!--numero dois-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon
                                src="https://cdn.lordicon.com/evyuuwna.json"
                                trigger="morph"
                                state="morph-shopping-bag-open"
                                style="width:4.5vw;height:4.5vw">
                                </lord-icon>
                                
                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article>
                                <p>Sacola</p>
                            </article>
                        </article>

                        <!--numero tres-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon
                                src="https://cdn.lordicon.com/xyboiuok.json"
                                trigger="hover"
                                style="width:4.5vw;height:4.5vw">
                                </lord-icon>
                                
                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article>
                                <p>Lista de Desejos</p>
                            </article>
                        </article>

                        <!--numero quatro-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon
                                src="https://cdn.lordicon.com/lobpqdog.json"
                                trigger="hover"
                                style="width:4.5vw;height:4.5vw">
                                </lord-icon>
                                
                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article id="article_contate_nos_menu_cell">
                                <p>Contate-nos</p>
                                <figure><img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""></figure>
                            </article>
                        </article>

                        <hr id="linha_icones_menu_cell">

                        <article class="article_icones_menu_deslizante_cell" id="article_total_brasil_cell">
                            <article>
                                <figure id="figure_brasil_menu_cell"></figure>
                            </article>

                            <article id="article_brasil_menu_cell">
                                <p>Brasil | PT R$</p>
                                <figure><img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""></figure>
                            </article>
                        </article>
                    </section>

                  </section>
                  <article id="overlay"></article>
            </article>
        </section>

    </section>
    <script src="../../js/menu_transparente.js"></script>
   

    <script src="../../menu_responsivo.js"></script>

    

    <script src="../../rolagem_cell_icones.js"></script>


    <!--parte da barra de baixo cell-->
    <section id="section_barra_de_baixo_total">
        <section id="section_barra_de_baixo">
            <p>Feminino</p>
            <p>Masculino</p>
            <p>Infantil</p>
        </section>
    </section>
    <!--miran ty 2024-->
    <section>
        <article>
            <video src="IMG/bazar/miran_ty_2024/watches-fw23-13092023-video-desk.mp4" width="100%" height=""  autoplay loop muted></video>
        </article>
        <!--parte escrita-->
        <figure class="parte_escrita_miran_ty_2024">
            <img class="escrita_miran_ty_2024" src="IMG/bazar/miran_ty_2024/miran_ty_2024/parte_escrita_miran_ty.png" alt="">
            <figcaption id="parte_do_paragrafo_miran_ty_2024">
                <p>Myran Taylor apresenta o seu bazar com</p>
                <p id="paragrafo2_miran_ty_2024"> parte da sua coleção de relógios</p>
            </figcaption>
        </figure>
    </section>

    <!--ONG LUISA MELL-->
    <section id="section_ong_luisa_mell">
        <!--parte escrita-->
        <figure id="parte_escrita_ong_luisa_mell">
            <img id="escrita_ong_luisa_mell" src="IMG/bazar/ong_luisa_mell/escrita_ong_luisa_mell.png" alt="">
        </figure>


        <article id="parte_do_paragrafo_ong_luisa_mell">
            <p>Miran Taylor é uma personalidade icônica das mídias sociais, com muito carisma ela coleciona um público amante <br> do conteúdo de lifestyle, moda e saúde. Neste bazar foi realizada uma parceria em prol da ONG Luisa Mell, onde 52% <br> do valor das peças abaixo será destinado à tal instituição.  Venha fazer parte do ImpactoZIP na vida desses seres!


            </p>
        </article>
    </section>








    <!--parte dos relogios-->
    <section class="section_relogio">
       
        <!--relogios-->
        <article class="relogios_article">   
             <!-- Slider container -->
            <article class="slider">
                <!-- slide 1 -->
                <article class="slide">
                    <article class="relogios-grupo">
                        <section>
                            <article class="relogio1_bazar"></article>
                            <figure class="relogioss1"></figure>
                            <article class="parte_escrita_relogio paragrafo_relogio1">
                                <p class="relogios_paragrafo ">Grecca Logo Monph Watch</p>
                                <p class="relogios_paragrafo_preco">R$ 1.800,00</p>
                            </article>
                        </section>

                        <section>
                            <article class="relogio2_bazar"></article>
                            <figure class="relogioss2"></figure>
                            <article class="parte_escrita_relogio paragrafo_relogio1">
                                <p class="relogios_paragrafo">Grecca Logo Monph Watch</p>
                                <p class="relogios_paragrafo_preco">R$ 900,00</p>
                            </article>
                        </section>

                        <section>
                            <article class="relogio3_bazar"></article>
                            <figure class="relogioss3"></figure>
                            <article class="parte_escrita_relogio paragrafo_relogio1" >
                                <p class="relogios_paragrafo" >Grecca Logo Monph Watch</p>
                                <p class="relogios_paragrafo_preco">R$ 600,00</p>
                            </article>
                        </section>

                        <section style="opacity: 30%;">
                            <article class="relogio4_bazar"></article>
                            <figure class="relogioss4"></figure>
                            <article class="parte_escrita_relogio paragrafo_relogio1">
                                <p class="relogios_paragrafo">Grecca Logo Monph </p>
                                <p class="relogios_paragrafo_preco">R$ 1.800,00</p>
                            </article>
                        </section>
                        <!--fim grupo-->
                    </article>
                </article>
            
                <!-- slide 2 -->
                <article class="slide">
                    <article class="relogios-grupo">
                        <section>
                            <article class="relogio5_bazar"></article>
                            <figure class="relogioss5"></figure>
                            <article class="parte_escrita_relogio paragrafo_relogio1">
                                <p class="relogios_paragrafo">Grecca Logo Monph Watch</p>
                                <p class="relogios_paragrafo_preco">R$ 1.800,00</p>
                            </article>
                        </section>

                        <!--fim grupo-->
                    </article>
                </article>
            
            
                <!-- Control buttons -->
                
            </article>                     
        </article>
        <article>
            <button class="btn btn-next"><img src="IMG/bazar/parte_dos_relogios/seta.png" alt="">
            </button>
            <button class="btn btn-prev"> voltar </button>
        </article>
    </section>



    

    <script src="./javascript_slide/relogios_slide.js"></script>


    <!--julia guimaraes-->
    <section class="section_julia_guimaroes">
        
        <!--imagem julia guimaroes-->
        <figure>
            <img src="IMG/bazar/julia_guimaroes/imagem_julia_guimaroes.png" alt="">
        </figure>

        <!--escrita julia guimaroes-->
        <figure class="parte_escrita_julia_guimaroes">
            <img class="parte_escrita_julia_guimaroes_img" src="IMG/bazar/julia_guimaroes/escrita_julia_guimaroes_refeito.png" alt="">
            <figcaption id="paragrafos_julia_guimaroes">
                <p id="paragrafo1_julia_guimaroes">Júlia traz uma  coleção super fofa para</p>
                <p id="paragrafo2_julia_guimaroes">crianças que se vestem com criatividade</p>
            </figcaption>
        </figure>


    </section>


    <!--instituto sol-->
    <section class="parte_instituto_sol_section">

        <!--parte escrita yupiee-->
        <figure class="parte_escrita_instituto_sol_article">
            <img class="parte_escrita_instituto_sol_img" src="IMG/bazar/instituto_sol/parte_escrita_instituto_sol_refeito.png" alt="">
        </figure>

        <!--parte do paragrafo-->
        <article class="paragrafo_do_instituto_sol_article">
            <p class="paragrafo_do_instituto_sol_paragrafo">Júlia Guimarões é um fenônemo global como atriz, suas aparições na TV são aclamadas pela audiência e geram emoções <br> em  todos os sentidos. Em seu bazar podemos encontrar lindas peças infantis, antes pertencidas aos seus filhos, que fazem <br> <span>uma parceria com o Instituto Sol, de forma que 100% do valor desses artigos é destinado à tal instituição. Venha fazer fazer parte do </span><br> ImpactoZIP na vida dessas pessoas!</p>
        </article>

    </section>


    <!--parte dos slide do instituto sol-->
<section class="parte_section">
       
    <!--roupas-->
    <section id="section_instituto_sol_slide">
        <article class="roupas_article">
             <!-- Slider container -->
        <article class="slider2">
          <!-- slide 1 -->
        <article class="slide2">
            <section class="roupas-grupo">
                    <section>
                        <article class="blusa_rosa"></article>
                        <figure class="sol_roupas"></figure>
                        <article class="parte_escrita__das_roupas_yupiee">
                            <p class="roupas_yupiee_paragrafo">Zara Kids Kit Blusa, Saia e Sapato</p>
                            <p class="roupas_yupiee_paragrafo_preco"o>R$ 122,00</p>
                        </article>
                    </section>
                    <section>
                        <article class="bolsa_preta_yupiee"></article>
                        <figure class="sol_roupas2"></figure>
                        <article class="parte_escrita__das_roupas_yupiee">
                            <p class="roupas_yupiee_paragrafo">Renner Kid Bolsa</p>
                            <p class="roupas_yupiee_paragrafo_preco">R$ 45,00</p>
                        </article>
                    </section>
                    <section>
                        <article class="jaqueta_preta_yupiee"></article>
                        <figure class="sol_roupas3"></figure>
                        <article class="parte_escrita__das_roupas_yupiee">
                            <p class="roupas_yupiee_paragrafo">ZKit Pimentinha Kids Yupie</p>
                            <p class="roupas_yupiee_paragrafo_preco">R$ 137,00</p>
                        </article>
                    </section>
                    <section style="opacity: 30%;">
                        <article class="calça_preta_yupiee"></article>
                        <figure class="sol_roupas4"></figure>
                        <article class="parte_escrita__das_roupas_yupiee">
                            <p class="roupas_yupiee_paragrafo">Zara Kids Yupiee </p>
                            <p class="roupas_yupiee_paragrafo_preco">R$ 100,00</p>
                    </section>
                </section>
            <!--fim grupo-->
        </article>
        </article>
        
        <!-- slide 2 -->
        <article class="slide2">
        <section class="roupas-grupo">
            <section>
                <article class="calça_preta_yupiee2"></article>
                <figure class="sol_roupas5"></figure>
                <article class="parte_escrita__das_roupas_yupiee">
                    <p class="roupas_yupiee_paragrafo">Zara Calça </p>
                    <p class="roupas_yupiee_paragrafo_preco">R$ 50,00</p>
                </article>
            </section>
            <!--fim grupo-->
         </section>
        </article>
        
        
        <!-- Control buttons -->

        </article>
        </article>
        
        
    </section>

    <article>
        <button class="btn btn-next2"><img src="IMG/bazar/parte_dos_relogios/seta.png" alt=""> </button>
        <button class="btn btn-prev2"> voltar </button>

        </article>
        <script src="javascript_slide/yupiee_slide-bazar.js"></script>
    </section>
     
    

<!--florenza-->
<section class="bazar_renner_catt_down_section">
    <!--imagem princiapl-->
    <figure>
       <img src="IMG/bazar/florenza/imagem_principal_florenza.png" alt="">
    </figure>

    <!--partre escrita-->
    <figure class="parte_escrita_florenza_article">
        <img class="parte_escrita_florenza_img" src="IMG/bazar/florenza/parte_escrita_florenza.png" alt="">
        <figcaption id="parte_paragrafo_do_florenza_imagem_principal">
            <p id="paragrafo_imagem_principal_florenza1">Florenza traz tendências atuais para</p>
            <p id="paragrafo_imagem_principal_florenza2">aqueles que gostam de estar no estilo</p>
        </figcaption>
    </figure>

</section>


<!--h. pequeno principe-->
<section class="h_pequeno_principe_section">
    <!--parte escrita-->
    <figure class="parte_escrita_h_pequeno_principe_article">
        <img class="parte_escrita_h_pequeno_principe_img" src="IMG/bazar/h._pequeno_principe/parte_escrita_h._pequeno_principe.png" alt="">
    </figure>

    <!--parte do paragrafo-->
    <article class="parte_do_paragrafo_cat_down_article">
        <p class="parte_do_paragrafo_cat_down_paragrafo"> Florenza é um Youtuber que alcançou a meta de 27 milhões de inscritos na plataforma, com apenas 21 anos o rapaz faz <br> sucesso com seus vlogs e vídeos de stand up. O influencer traz uma coleção em colaboração com o Hospital Pequeno <br> Príncipe, 100% do valor arrecadado com os produtos abaixo será doado à instituição. Venha fazer fazer parte do ImpactoZIP na vida <br> dessas pessoas!</p>
    </article>
</section>



   <!--parte dos slide pequeno principe-->
   <section class="roupas_pequeno_principe_section">
       
    <!--roupas-->
    <article class="roupas_cat_down_article">   
         <!-- Slider container -->
        <section class="slider3">
        <!-- slide 1 -->
            <article class="slide3">
                <article class="roupas_cat_down-grupo">
                    <section>
                        <article class="blusa_branca_cat_down"></article>
                        <figure id="principess"></figure>
                        <article class="parte_escrita__das_roupas_cat_down">
                            <p class="roupas_cat_down_paragrafo">Catt Down M</p>
                            <p class="roupas_cat_down_paragrafo_preco"o>R$ 50,00</p>
                        </article>
                    </section>

                    <section>
                        <article class="calça_azul_cat_down"></article>
                        <figure id="principess2"></figure>
                        <article class="parte_escrita__das_roupas_cat_down">
                            <p class="roupas_cat_down_paragrafo">Catt Down M</p>
                            <p class="roupas_cat_down_paragrafo_preco">R$ 63,00</p>
                        </article>
                    </section>

                    <section>
                        <article class="jaqueta_preta_cat_down"></article>
                        <figure id="principess3"></figure>
                        <article class="parte_escrita__das_roupas_cat_down">
                            <p class="roupas_cat_down_paragrafo">Catt Down M</p>
                            <p class="roupas_cat_down_paragrafo_preco">R$ 177,00</p>
                        </article>
                    </section>

                    <section style="opacity: 30%;">
                        <article class="blusa_branca2_cat_down"></article>
                        <figure id="principess4"></figure>
                        <article class="parte_escrita__das_roupas_cat_down">
                            <p class="roupas_cat_down_paragrafo">Catt Down M </p>
                            <p class="roupas_cat_down_paragrafo_preco">R$ 71,00</p>
                        </article>
                    </section>
                    <!--fim grupo-->
                </article>
            </article>

        <!-- slide 2 -->
        <article class="slide3">
            <section class="roupas_cat_down-grupo">
                <section>
                    <article class="blusa_branca2_cat_down2"></article>
                    <figure id="principess5"></figure>
                    <article class="parte_escrita__das_roupas_cat_down">
                        <p class="roupas_cat_down_paragrafo">Catt Down M</p>
                        <p class="roupas_cat_down_paragrafo_preco">R$ 71,00</p>
                    </article>
                </section>

                <!--fim grupo-->
        </section>
    </article>


<!-- Control buttons -->

</section>                     
    </article>
    


    <!--ver mais-->
    <article class="ver_mais_cat_down_slide_article">
        <p class="ver_mais_cat_down_slide_paragrafo">Ver Mais..</p>
    </article>
</section>
     
<article>
    <button class="btn btn-next3"><img src="IMG/bazar/parte_dos_relogios/seta.png" alt=""> </button>
    <button class="btn btn-prev3"> voltar </button>
</article>
<script src="javascript_slide/cat_down_slide.js"></script>


    <!--STORIES RECENTES-->
    <section class="stories_recentes">
            
 


        <!--ENTRE NO MUNDO ZIP-->
        <article class="stories_recentes_article" >
            <!--linha-->
            <hr class="linha_do_entre_no_mundo_zip">

            <!--escrito entre no mundo zip-->
            <figure class="figure_escrita_entre_nomundo_zip">
                <img class="escrita_entre_nomundo_zip" src="IMG/stories_recentes/slides/entre_no_mundo_zip/escrita_entre_no_mundo_zip_refeito.png" alt="">
            </figure>

            <!--Esteja por dentro de eventos, coleções e novidades exclusivas-->
            <article class="article_paragrafo_stories_recentes">
                <p class="paragrafo_stories_recentes">Esteja por dentro de eventos, coleções e novidades exclusivas</p>
            </article>

            <!--Digite o seu e-mail-->
            <section class="article_digite_o_seu_email">
                <article class="digite_o_seu_email_stories_recentes">
                    <p class="paragrafo_digite_o_seu_email">Digite o seu e-mail</p>
                    <img class="setinha_do_digite_o_seu_email" src="IMG/stories_recentes/slides/entre_no_mundo_zip/setinha_do_digite_o_seu_email.svg" alt="">
                </article>
            </section>
        </article>

    </section>
    


     <!--rodapé-->
     <section class="rodape">
        <!--primeira seção-->
        <section>
            <article>
                <h1 class="rodape_h1 institucional">
                    institucional
                </h1>
            </article>
            <article>
                <ul class="lista_do_rodape_parte_1">
                    <li class="rodape_paragrafo institucional">sobre a ZIP</li>
                    <li class="rodape_paragrafo institucional">fornecedores</li>
                    <li class="rodape_paragrafo institucional">termos e condições</li>
                    <li class="rodape_paragrafo institucional">política de privacidade</li>
                    <li class="rodape_paragrafo institucional">configurações de privacidade</li>
                    <li class="rodape_paragrafo institucional">trabalhe conosco</li>
                    <li class="rodape_paragrafo institucional">sustentabilidade</li>
                    <li class="rodape_paragrafo institucional">mapa do site</li>
                    <li class="rodape_paragrafo institucional">investidores</li>
                    <li class="rodape_paragrafo institucional">sala de imprensa</li>
                    <li class="rodape_paragrafo institucional">blog ZIP</li>
                </ul>
            </article>
        </section>
        <!--segunda seção-->
        <section>
            <!--parte ZIP&VC-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_1_h1">
                        ZIP&VC
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_1_ul">
                        <li class="rodape_paragrafo">participe do programa</li>
                    </ul>
                </article>
            </article>

            <!--parte cartão ZIP-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_2_h1">
                        cartão ZIP
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_2_ul">
                        <li class="rodape_paragrafo">sobre o cartão ZIP</li>
                    </ul>
                </article>
            </article>

            <!--parte ZIP Pay-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_3_h1">
                        ZIP Pay
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_3_ul">
                        <li class="rodape_paragrafo">solicite seu cartão</li>
                    </ul>
                    <ul class="lista_do_rodape segunda_secao_parte_3_ul">
                        <li class="rodape_paragrafo">tire sua dúvida por e-mail</li>
                    </ul>
                </article>
            </article>
            
            <!--parte cartão presente-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_4_h1">
                        cartão presente
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_4_ul">
                        <li class="rodape_paragrafo">sobre o cartão presente ZIP</li>
                    </ul>
                </article>
            </article>
            
        </section>
        
        <!--parte 3-->
        <section class="terceira_secao">
            
            <article>
                <h1 class="rodape_h1 ">
                    serviços
                </h1>
            </article>

            <article>
                <ul class="lista_do_rodape lista_terceira_secao">
                    <li class="rodape_paragrafo">tipos de entrega</li>
                    <li class="rodape_paragrafo">clique & retire</li>
                    <li class="rodape_paragrafo">trocas & devoluções</li>
                    <li class="rodape_paragrafo">formas de pagamento</li>
                    <li class="rodape_paragrafo">todas as vantagens</li>
                    <li class="rodape_paragrafo">minha ZIP</li>
                </ul>
            </article>
            

            <article class="terceita_secao_bazar">
                <article>
                    <h1 class="rodape_h1 ">
                        bazar
                    </h1>
                </article>

                <article>
                    <ul class="lista_do_rodape">
                        <li class="rodape_paragrafo">veja coleção</li>
                    </ul>
                </article>

            </article>

        </section>

        <!--parte 4-->
        <section class="quarta_secao">
            <article>
                <h1 class="rodape_h1 ">
                    marketplace ZIP
                </h1>
            </article>

            <article class="lista_quarta_secao">
                <ul class="lista_do_rodape ">
                    <li class="rodape_paragrafo">venda na ZIP</li>
                    <li class="rodape_paragrafo">marketplace</li>
                </ul>
            </article>

        </section>

        <!--icones do instagram e etc-->
        <figure class="icones_do_instagram_e_etc_do_rodape">
            <img src="IMG/rodape/icone_do_instagram_e_etc_2024.png" alt="">
        </figure>

        <!--©Copyright2023  -->
        <article class="copyright">
                <h1 class="h1_do_copyright">
                    © Copyright - 2024 -
                </h1>
        </article>
    </section>

</body>
</html>