<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="css-login_usuario/parte_superior.css">
    <link rel="stylesheet" href="css-login_usuario/menu_login.css">
    <link rel="stylesheet" href="css-pagamento/estado.css">
    <link rel="stylesheet" href="css-pagamento/pix.css">
    <script src="./pagamento_script/script.js" defer></script>

    <link rel="shortcut icon" href="IMG/fivecon/logo preta grande.ico" type="image/x-icon">
</head>
<body>
    <!-- parte superior do desconto na primeira compra -->
    <section id="section_parte_superior">
        <article>
            <article id="parte_superior">
                <p>10% OFF* na primeira compra. Utilize o cupom QueroMaisDez!  </p> 
            </article>
            <!--parte das setas-->
            <article class="setas_parte_superior">
                <img class="seta_esquerda_parte_superior" src="IMG/parte superior do desconto na primeira compra REFEITO/seta_esquerda.svg" alt="">
                <img class="seta_direita_parte_superior" src="IMG/parte superior do desconto na primeira compra REFEITO/seta_direita.svg" alt="">
            </article>
        </article>
    </section>


   <!--menu principal-->
   <section id="menu_principal_como_todo">
    <!--area do menu que contem os links-->
        <article id="menu_principal">
            <section id="section_menu_principal">
                <a href="bazar.html">BAZAR</a>
                <a href="">VENDER</a>
                <a href="">FEMININO</a>
                <a href="">MASCULINO</a>
                <a href="">INFANTIL</a>
                <a href="">ACESSÓRIOS</a>
            </section>
        </article>

        <!--logo zip-->
        <article>
            <a href="index.html">
                <figure id="logo_zip_menu">
                <img id="logo_zip_menu_imagem" src="IMG/area_do_menu/logo_zip_menu_2024_refeito.png" alt="">
            </figure>
            </a>
        </article>

        



        <!--imagem da barra de pesquisa e etc-->
        <article id="barra_de_pesquisa_e_etc">
            <figure id="imagem_da_barra_de_pesquisa_e_etc">
                <img id="imagem_da_barra_de_pesquisa" src="IMG/area_do_menu/icone_de_pesquisa.svg" alt="">
                <img id="imagem_do_icone_de_favorito" src="IMG/area_do_menu/icone_de_favorito.svg" alt="">
                <a href="login_do_usuario.html"><img id="imagem_do_icone_de_pessoa" src="IMG/area_do_menu/icone_de_pessoa.svg" alt=""></a>
                <img id="imagem_do_icone_da_sacola" src="IMG/area_do_menu/icone_sacola.svg" alt="">
            </figure>
        </article>
    </section>
    </section>




    <section id="boxG">
        <article id="Superior">
                <h3 id="r">RESUMO DO PEDIDO       </h3>
                <h3 id="P">PREÇO</h3>
                <h3 id="t">TOTAL</h3>
        </article>
            <br>
           
        <article id="Mid"> 
            <img class="pay_item" src="IMG/pagamento/blackbag.png" width="95px">
            <h4 id="rr">   Bolsa Preta Clássica</h4>
            <p id="pp">R$ 20,00</p>
            <p id="tt">R$ 20,00</p>
        </article>
            <br>
        <article>
            <h3>ENDEREÇO</h3>
                <article id="slots">
                    <input type="text" name="estado" id="estado" size="15" maxlength="9" placeholder="Estado*" class="inputs required" oninput="EstadoValidate()">
                    <br>
                    <input type="text" name="cep" id="cep" size="15" maxlength="9" placeholder="CEP*" class="inputs required" oninput="cepValidate()">
                </article>
        </article>
    </section>