<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../Perfil/perfil_desk.css" media="screen and (min-width:750px)">
    <link rel="stylesheet" href="../Perfil/perfil_mob.css" media="screen and (max-width:750px)">
</head>
<body>

    <!-- Perfil --> 
    <Section id="profile">
        <section id="on">

            <!-- Inicio -->

            <article id="user">
                <h2 id="welcome">Olá, Maria</h2>
                <h4 id="sales">+100 vendas realizadas</h4>
            </article>

            <!-- Adicionar Produto -->

            <article id="adding">
                Adicionar Produto
            </article>
            <hr/>

            <article id="product">
                <section id="box">
                    <h1 id="add">+</h1>
                </section>

            <!-- Adicionar Caixas!!!!! -->

            </article>
        </section>

        <!-- Info Usuario -->

        <section id="info">
            <section id="onn">
                <article id="data">
                    <lord-icon
                        src="https://cdn.lordicon.com/lecprnjb.json"
                        trigger="hover"
                        style="width:20px;height:20px">
                    </lord-icon>
                    <p id="upp">Meus Dados</p>
                </article>
                    <hr/ id="linha">

                <article id="requests">
                    <p><img>Meus Pedidos</p>
                </article>
                    <hr/ id="linha">

                <article id="salle">
                    <p><img>Minhas Vendas</p>
                </article>
                    <hr/ id="linha">

                <article id="addv">
                    <p><img>Produtos Adicionados</p>
                </article>
                    <hr/ id="linha">

                <article id="complaint">
                    <p><img>Denúncias</p>
                </article>
                    <hr/ id="linha">

                <article id="warming">
                    <p><img>Advertências</p>
                </article>
            </section>
        </section>
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        
        <!-- Suporte & Sou Famoso -->

        <section id="sup">
            <section id="onn">
                <article>
                    <input id="famous" type="button" value="SOU FAMOSO" />
                </article>
                
                <article id="help">
                    <p>Suporte</p>
                </article>

                <article id="questions">
                    <p><img>Perguntas Frequentes</p>
                </article>
                    <hr/ id="linha">

                <article id="helping">
                    <p><img>Ajuda</p>
                </article>
            </section>
        </section>

        <!-- Você pode gostar -->

        <section id="slide">

            <p id="likeit">VOCÊ PODE GOSTAR</p>

            <section id="bunker">
                <article id="container">

                    <section id="">
                        <img  id="like" src="../IMG/parte_do_ voce_tambem_vai_gostar_login_do_usuarioEfornecedor/tenis_medusa_grecco_tenis_refeito.png" alt="">
                        
                    </section>

                    <section id="">
                        <img  id="likezz" src="../IMG/parte_do_ voce_tambem_vai_gostar_login_do_usuarioEfornecedor/bolsa_medusa_purse_refeito.png" alt="">
                    </section>

                    <section id="">
                        <img  id="likez" src="../IMG/parte_do_ voce_tambem_vai_gostar_login_do_usuarioEfornecedor/salto_alto_medusa_black_sandails_refeito.png" alt="">
                </section>

                <section id="">
                    <img  id="likez" src="../IMG/parte_do_ voce_tambem_vai_gostar_login_do_usuarioEfornecedor/saia_medusa_skirt_versace_refeito.png" alt="">
            </section>

                </article>
            </section>
            
            <section id="sepair">
                <section id="display">
                    <article id="h1">Medusa Grecco Tenis</article>
                    <article id="h2">R$ 27,99</article>
                </section>

                <section id="dissy">
                    <article id="h3">Medusa Purse</article>
                    <article id="h4">R$ 69,99</article>
                </section>

                <section id="dissa">
                    <article id="h3">Medusa Black Sandails</article>
                    <article id="h4">R$ 59,99</article>
                </section>

                <section id="dissw">
                    <article id="h3">Medusa Skirt Versace</article>
                    <article id="h4">R$ 19,99</article>
                </section>
            </section>

        </section>
    </Section>
</body>
</html>