<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/Perfil/perfil_mob.css" media="screen and (max-width:750px)">
</head>
<body>

    <!-- Perfil --> 
    <Section id="profile">
        <section id="on">

            <!-- Inicio -->

            <article id="user">
                <h2 id="welcome">Olá, Maria</h2>
                <h4 id="sales">+100 vendas realizadas</h4>
            </article>

            <!-- Adicionar Produto -->

            <article id="adding">
                Adicionar Produto
            </article>
            <hr/>

            <article id="product">
                <section id="box">
                    <h1 id="add">+</h1>
                </section>

            <!-- Adicionar Caixas!!!!! -->

            </article>
        </section>

        <!-- Info Usuario -->

        <section id="info">
            <section id="on">
                <article id="data">
                    <p><img>Meus Dados</p>
                </article>
                    <hr/>

                <article id="requests">
                    <p><img>Meus Pedidos</p>
                </article>
                    <hr/>

                <article id="salle">
                    <p><img>Minhas Vendas</p>
                </article>
                    <hr/>

                <article id="addv">
                    <p><img>Produtos Adicionados</p>
                </article>
                    <hr/>

                <article id="complaint">
                    <p><img>Denúncias</p>
                </article>
                    <hr/>

                <article id="warming">
                    <p><img>Advertências</p>
                </article>
            </section>
        </section>
        
        <!-- Suporte & Sou Famoso -->

        <section id="sup">
            <section id="on">
                <article>
                    <input id="famous" type="button" value="SOU FAMOSO" />
                </article>
                
                <article id="help">
                    <p>Suporte</p>
                </article>

                <article id="questions">
                    <p><img>Perguntas Frequentes</p>
                </article>
                    <hr/>

                <article id="helping">
                    <p><img>Ajuda</p>
                </article>
            </section>
        </section>

        <!-- Você pode gostar -->

        <section id="slide">

            <p id="likeit">VOCÊ PODE GOSTAR</p>

            <section id="bunker">
                <article id="container">

                    <section id="like">
                        <h1 id=""></h1>
                    </section>

                    <section id="likes">
                            <h1 id=""></h1>
                    </section>

                </article>
            </section>
            
            <section id="sepair">
                <section id="display">
                    <article id="h1">Heading 3</article>
                    <article id="h2">Heading 3</article>
                </section>

                <section id="dissy">
                    <article id="h3">Heading 3</article>
                    <article id="h4">Heading 3</article>
                </section>
            </section>

        </section>
    </Section>
</body>
</html>