<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="perfil_mob.css" media="screen and (max-width:750px)">
</head>
<body>

    <Section id="profile">
        <section id="on">

            <article id="user">
                <h2 id="welcome">Olá, Maria</h2>
                <h4 id="sales">+100 vendas realizadas</h4>
            </article>

            <article id="adding">
                Adicionar Produto
            </article>
            <hr/>

            <article id="product">

                <section id="box">
                    <h1 id="add">+</h1>
                </section>


            </article>
        </section>

        <section id="info">
            <section id="on">
                <article id="data">
                    <p><img>Meus Dados</p>
                </article>
                    <hr/>

                <article id="requests">
                    <p><img>Meus Pedidos</p>
                </article>
                    <hr/>

                <article id="salle">
                    <p><img>Minhas Vendas</p>
                </article>
                    <hr/>

                <article id="addv">
                    <p><img>Produtos Adicionados</p>
                </article>
                    <hr/>

                <article id="complaint">
                    <p><img>Denúncias</p>
                </article>
                    <hr/>

                <article id="warming">
                    <p><img>Advertências</p>
                </article>
            </section>
        </section>
    </Section>
    
</body>
</html>