<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css-teste-masculino/homepage.css">
    <link rel="stylesheet" href="/css-teste-masculino/parte_escrita_colecao_masculina.css">
    <link rel="stylesheet" href="/css-teste-masculino/978produtos.css">
    <link rel="stylesheet" href="/css-teste-masculino/slide.css">
</head>
<body>
    <!--homepage-->
    <section id="section_homepage">
        <p>Homepage | <span>Masculino</span></p>
    </section>

    <!--coleção masculina-->
    <section id="section_colecao_masculina">
        <p id="parte_escrita_cm">COLEÇÃO MASCULINA</p>

        <p id="parte_escrita_cm2">Novas peças para acrescentar no seu visual. A variedade está aqui! </p>
    </section>

    <!--978produtos-->
    <section id="section_nove_sete_oito_produtos">
        <!--linha-->
        <hr>

        <!--978prdoutos-->
        <article id="article_nove_sete_oito_produtos">
            <p>978 produtos</p>
        </article>

        <!--linha-->
        <hr>
    </section>

    <!--slides-->
    <section id="section_slides">

        <!--primeiro slide-->
        <section id="section_slide1">
            <figure>
                <img src="" alt="">
                <figcaption>
                    <p></p>

                    <p></p>
                </figcaption>
            </figure>

            <figure>
                <img src="" alt="">
                <figcaption>
                    <p></p>
                    
                    <p></p>
                </figcaption>
            </figure>

            <figure>
                <img src="" alt="">
                <figcaption>
                    <p></p>
                    
                    <p></p>
                </figcaption>
            </figure>

            <figure>
                <img src="" alt="">
                <figcaption>
                    <p></p>
                    
                    <p></p>
                </figcaption>
            </figure>
        </section>

    </section>

</body>
</html>