<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src="../../public/IMG/logo-aba-google.png" alt="Logo da zip para as abas do google">
    <link rel="icon" href="../../public/IMG/logo-aba-google.png" type="image/png">

    <!--entre no mundo-->
    <link rel="stylesheet" href="/css-acessorios/css-acessorios-cell/entre_no_mundo-cell.css" media="screen and (max-width:750px)">

    <!--rodapé-->
    <link rel="stylesheet" href="/css-acessorios/css-acessorios-cell/rodape_cell.css" media="screen and (max-width:750px)">
</head>
<body>
    
</body>
</html>