<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zip | Como vender na zip?</title>

    <!--entre no mundo-->
    <link rel="stylesheet" href="/css-acessorios/css-acessorios-cell/entre_no_mundo-cell.css" media="screen and (max-width:750px)">

    <!--rodapé-->
    <link rel="stylesheet" href="/css-acessorios/css-acessorios-cell/rodape_cell.css" media="screen and (max-width:750px)">
</head>
<body>
    <header class="cabecalho">
        <h1><img src="../../public/IMG/vender/titutlo-pagina.png" alt="Zip Marketplace"></h1>
        <nav class="menu">
            <ul class="menu-lista">
                <li>
                    <h2>Cadastrar</h2>
                </li>
                <li>
                    <h2>Quem somos?</h2>
                    <p>A zip é um brechó com sistema de marketplace, ou seja, os nossos clientes podem revender as suas roupas usadas aqui. Além disso, possuímos bazares montados por famosos que destinam uma porcentagem do lucro arrecadado com as suas peças de segunda mão à caridade. Dessa fora, atuamos com uma moda sustentável, uma vez que aumentamos o clico de vida dela.</p>
                </li>
                <li>
                    <h2>Menu</h2>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>