
.login_inteiro {
    position: relative;
    top: 37rem;
    max-width: 200vw;
    margin: 0;


}
#Login{
    left: 50%;
    padding: 40px;
    border-radius: 0;
    max-width: 80vh;
    margin-left: 2vw;
}

#box{
    position:relative;
    top: 13rem;
    left: 45%;
    padding: 20px;
    max-width: 80vh;
    margin-left: 2vw;
    
}

#Remember{
    padding-right: 20vw;
}


.section_voce_tambem_vai_gostar {
    position: relative;
    top: 75rem;
}

#linha{
    z-index: 3;
    position: absolute;
    top: 19rem;
      left: 47%;
        transform: rotate(90deg);
      font-family: 'Poppins', sans-serif;
      height: 79vw;
      width: 2px;
    color: rgb(0, 0, 0);
  }

#null{
    display: none;
}

