<section class="table-wrapper-denuncias">
    <table class="table-denuncias" style="table-layout: fixed; width: 95%;">
        <thead class="denuncias-colunas">
            <tr>
                <th>ID do Produto</th>
                <th>Produto Repetido</th>
                <th>Produto Fora do Tema</th>
                <th>Produto de Má Qualidade</th>
                <th>Remover Produto</th>
            </tr>
        </thead>

        <tbody class="denuncias-colunas-conteudo">
            <tr>
                <td class="celula1">001</td>
                <td class="celula2">001</td>
                <td class="celula3">001</td>
                <td class="celula4">001</td>
                <td class="celula5"><button type="submit" class="efeito-botao">Remover</button></td>
            </tr>
        </tbody>
    </table>
</section>
 
 <section class="table-wrapper-denuncias--vendedor">
        <table class="table-denuncias--vendedor" style="table-layout: fixed; width: 95%;">
            <thead class="denuncias-colunas--vendedor">
                <tr>
                    <th>ID do Vendedor</th>
                    <th>Fraude</th>
                    <th>Produto Ilícito</th>
                    <th>Propaganda Enganosa</th>
                    <th>Banir vendedor</th>
                </tr>
            </thead>

            <tbody class="denuncias-colunas-conteudo--vendedor">
                <tr>
                    <td class="celula1">001</td>
                    <td class="celula2">001</td>
                    <td class="celula3">001</td>
                    <td class="celula4">001</td>
                    <td class="celula5"><button type="submit" class="efeito-botao">Banir</button></td>
                </tr>


                    <!-- <article id="messageContainer" class="hidden">
                        <article id="messageBox">
                            <span id="closeBtn">&times;</span>
                            <label for="advertencia">Faça uma advertência</label>
                            <input type="text" id="advertencia">
                            <fieldset>
                                <legend>Suspensão</legend>
                                <select>
                                    <option>Suspender por 3 dias</option>
                                    <option>Suspender por uma semana</option>
                                    <option>Suspender por um mês</option>
                                    <option>Suspensão permanente</option>
                                </select>
                            </fieldset>
                        </article>
                    </article> mensagem quando advertir estiver funcionando -->
            </tbody>
        </table>
    </section>