<section class="redefinir-senha-section">
    <section class="redefinir-senha-form">
        <a href="./adm-famosos"><button type="submit" id="fam">Famosos</button></a>
        <a href="./adm-denuncias"><button type="submit" id="den">Denuncias & Banimentos</button></a>
    </section>

  </section>