<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Dados</title>
</head>
<body>
    
<form id="formulario" action="/sign/register" method="post">
    <section id="forms">
        <article id="boxa">

        <p>
            <p>Nome:</p>
            <input type="text" name="nome" id="nome"  placeholder="Nome Completo*">
        </p>
            <p>CPF:</p>
            <p>99999999-99</p>
        <p>
            <p>Nascimento:</p>
            <input type="text" name="dia"  id="dia" maxlength="2"  placeholder="Dia*">
            <input type="text" name="mes" id="mes" maxlength="2" placeholder="Mês*">
            <input type="text" name="ano"  id="ano" maxlength="4" placeholder="Ano*">
        </p>
        <p>
            <p>CEP:</p>
            <input type="text" name="cep" id="cep" placeholder="CEP*">
        </p>
        <p>
            <p>Email:</p>
            <input type="email" name="email" id="email" placeholder="Email*">
        </p>
        <p>
            <p>Senha:</p>
            <input type="password" name="senha" id="senha" placeholder="Senha*">
        </p>

        <p>
            <input type="submit">
        </p>
                

</body>
</html>