<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Dados</title>
</head>
<body>
    
<form id="formulario" action="/atualizardados" method="post">
    <section id="forms">
        <article id="boxa">

        <p>
            <p>Nome:</p>
            <input type="text" name="nome" id="nome"  placeholder="Nome Completo*" value="<%= valores.nome %>">
        </p>
            <p>CPF:</p>
            <input type="text" name="cpf" id="cpf"  placeholder="CPF" value="<%= valores.cpf %>" readonly>
        <p>
            <p>Nascimento:</p>
            <input type="date" name="nasc"  id="nasc" maxlength="2"  placeholder="Data de Nascimento*" value="<%= valores.nasc %>">
        </p>
        <p>
            <p>CEP:</p>
            <input type="text" name="cep" id="cep" placeholder="CEP*" value="" >
        </p>
        <p>
            <p>Email:</p>
            <input type="email" name="email" id="email" placeholder="Email*" value="<%= valores.email %>">
        </p>
        <p>
            <p>Senha:</p>
            <input type="password" name="senha" id="senha" placeholder="Senha*" >
        </p>
        <button>Alterar Dados</button>
</form>
                

</body>
</html>