.body_new_in_for_him {
    display: none;
}

.new_in_for_him {
    display: none;
}

#section_larezzo_cell {
    display: block;
    position: relative;
    top: 15vh;

}


/*imagem principal*/

#article_larezzo_cell {
    position: relative;
    top: -180px;
    display: flex;
    justify-content: center;
}

#imagem_principal_larezzo_cell {
    background-image: url("../IMG/cell_index/larezzo/imagem-principal.avif");
    background-size: 100vw;
        width: 100vw;
        height: 74vh;
        position: relative;

}



/*parte escrita*/
#article_parte_escrita_larezzo_cell {
    position: absolute;
    top: 42vh;
   
}

#parte_escrita_larezzo_cell {
    background-image: url("../IMG/larezzo/parte_escrita_cell_refeito.png");
    background-size: 32vw;
    background-repeat: no-repeat;
    width: 32vw;
    height: 8vw;
    position: absolute;
    top: -5vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#botao_larezzo_cell {
    border: none;
    width: 38vw;
    height: 6vw;
    background-color: white;
    color: black;
    font-size: 2.2vw;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 55.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#botao_larezzo_cell:hover {
    color: white;
    background-color: black;
}

#larezzo_slide {
    position: relative;
    height: 70vw;
    left: 197px;
    top: -260px;

}

/* parte do slide */



/*imagens*/
.imagem_do_larezzo_slide_cell {
    background-image: url('../IMG/cell_index/larezzo/bota1.avif');
    background-size: 70vw;
    background-repeat: no-repeat;
    width: 70vw;
    height: 80vw;
}
/*imagem hover*/
/*
.imagem_do_larezzo_slide_cell:active {
    background-image: url('../IMG/new_in_for_him/new_in_for_him/slide/bota_produto1_larezzo_hover.png');
}
*/

.imagem_do_larezzo_slide2_cell {
    background-image: url('../IMG/new_in_for_him/new_in_for_him/slide/blusa_produto2_larezzo.png');
    background-size: 70vw;
    background-repeat: no-repeat;
    width: 71vw;
    height: 80vw;
}

/*.imagem_do_larezzo_slide2_cell:active {
    background-image: url('../IMG/new_in_for_him/new_in_for_him/slide/blusa_produto2_larezzo_hover.png');
}*/


/*parte escrita dos produtos*/

.paragrafo_figcaption_cell{
    position: relative;
    top: 10px;
}

.produto_paragrafo_larezzo1_cell {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    font-weight: 600;
    position: relative;
    left: 13vw;
    top: 1vh;
    padding-bottom: 2vh;
}

.parte_do_preço_larezzo_cell {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    opacity: 60%;
    position: relative;
    left: 26vw;
}

.produto_paragrafo_larezzo2_cell {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    font-weight: 600;
    position: relative;
    left: 9vw;
    top: 1vh;
    padding-bottom: 2vh;
}





/*setas*/
.setas_larezzo {
    display: flex;
    column-gap: 64vw;
    position: relative;
    top: -54vh;
    left: 6vw;
}

@media screen and (min-height:799px) and (max-height:850px) {
    .setas_larezzo {
        position: relative;
        top: -60vh;
        left: 6vw;
    }
}






/*parte escrita do botão*/




/* slide */

.slide_larezzo_cell {
    width: 70vw;
    height: 700px;
    position: relative;
}

.sliderla {
    width: 70vw;
    height: 105vh;
    overflow: hidden;
    position: relative;
    left: -25.5vw;
    top: -6.5vh;

}

.slides2la {
    width: 400%;
    height: 600px;
    display: flex;
}

.slides2la input {
    display: none;
}



.slide img {
    
}

#larezzo_bolinha_cell {
    position: relative;
    top: -5vh;
    left: -12vw;
    z-index: 3;

}

.manual-navigation {
   
}

.manual-btn {
    border: 2px solid var(--corpartesuperior);
    padding: 3.5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    position: relative;

    top: -35px;
}

.manual-btn:not(:last-child) {
    margin-right: 12px;
}

.manual-btn:hover {
    background-color: var(--corpartesuperior);
}

#radio3la:checked ~ .first2 {
    margin-left: 0;
}

#radio4la:checked ~ .first2 {
    margin-left: -25%;
}



.navigation-auto article{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio3la:checked ~ .navigation-auto .auto-btn1 {
    background-color: #000000;
}

#radio4la:checked ~ .navigation-auto .auto-btn2 {
    background-color: #000000;
}


