.body_new_in_for_him {
    display: none;
}

.new_in_for_him {
    display: none;
}

#section_larezzo_cell {
    display: block;
    position: relative;
    top: -285px;

}


/*imagem principal*/

#article_larezzo_cell {
    position: relative;
    top: -180px;
}

#imagem_principal_larezzo_cell {
    background-image: url("../IMG/larezzo/imagem_pricipal_cell.png");
    background-size: 680px;
    width: 680px;
    height: 770px;
    position: relative;
    left: -35px;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
}

#imagem_principal_larezzo_cell:hover {
    transform: scale(1);
}

/*parte escrita*/
#article_parte_escrita_larezzo_cell {
    position: relative;
    top: -310px;
    left: 170px;
}

#parte_escrita_larezzo_cell {
    background-image: url("../IMG/larezzo/parte_escrita_cell_refeito.png");
    background-size: 149px;
    background-position: center;
    width: 149px;
    height: 40px;
    position: relative;
    top: -100px;
    left: 70px;
}

#botao_larezzo_cell {
    border: none;
    width: 190px;
    height: 30px;
    background-color: white;
    color: black;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -90px;
    left: 40px;
}

#botao_larezzo_cell:hover {
    color: white;
    background-color: black;
}

#larezzo_slide {
    position: relative;
    left: 200px;
    top: -260px;
}

/* parte do slide */
#larezzo_slide {
    position: relative;
    left: 215px;
}


/*imagens*/
.imagem_do_larezzo_slide_cell {
    background-image: url('../IMG/new_in_for_him/new_in_for_him/slide/bota_produto1_larezzo.png');
    background-size: 350px;
    background-repeat: no-repeat;
    width: 350px;
    height: 430px;
    background-color: black;
}
 
/*imagem hover*/
.imagem_do_larezzo_slide_cell:hover {
    background-image: url('../IMG/new_in_for_him/new_in_for_him/slide/bota_produto1_larezzo_hover.png');
}

.imagem_do_larezzo_slide2_cell {
    background-image: url('../IMG/new_in_for_him/new_in_for_him/slide/blusa_produto2_larezzo.png');
    background-size: 355px;
    background-repeat: no-repeat;
    width: 350px;
    height: 430px;
    background-color: black;
}

.imagem_do_larezzo_slide2_cell:hover {
    background-image: url('../IMG/new_in_for_him/new_in_for_him/slide/blusa_produto2_larezzo_hover.png');
}


/*parte escrita dos produtos*/

.paragrafo_figcaption_cell{
    position: relative;
    top: 10px;
}

.produto_paragrafo_larezzo1_cell {
    font-family: 'Poppins', sans-serif;
    font-size: 20.5px;
    font-weight: 600;
    position: relative;
    left: 14.5%;
    top: 5px;
    padding-bottom: 10px;
}

.parte_do_preço_larezzo_cell {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    opacity: 60%;
    position: relative;
    left: 31%;
}

.produto_paragrafo_larezzo2_cell {
    font-family: 'Poppins', sans-serif;
    font-size: 20.5px;
    font-weight: 600;
    position: relative;
    left: 10.5%;
    top: 5px;
    padding-bottom: 10px;
}





/*setas*/
.setas_larezzo {
    display: flex;
    column-gap: 314px;
    position: relative;
    top: -540px;
    left: 17.5%;
}






/*parte escrita do botão*/




/* slide */


.sliderla {
    margin: 0 auto;
    width: 339px;
    height: 690px;
    overflow: hidden;
    position: relative;
    top: 220px;
    left: -32%;
}

.slides2la {
    width: 400%;
    height: 600px;
    display: flex;
}

.slides2la input {
    display: none;
}



.slide img {
    
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--corpartesuperior);
    padding: 3.5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    position: relative;
    left: -29%;
    top: -35px;
}

.manual-btn:not(:last-child) {
    margin-right: 12px;
}

.manual-btn:hover {
    background-color: var(--corpartesuperior);
}

#radio3la:checked ~ .first2 {
    margin-left: 0;
}

#radio4la:checked ~ .first2 {
    margin-left: -32.5%;
}



.navigation-auto article{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio3la:checked ~ .navigation-auto .auto-btn1 {
    background-color: #000000;
}

#radio4la:checked ~ .navigation-auto .auto-btn2 {
    background-color: #000000;
}


