@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* parte do menu*/

#menu_principal_como_todo {
    position: fixed;
    z-index: 2;
    opacity: 100%;
    top: 24px;
}

.menu_como_todo{
    height: 10px;
    
    transition: 2s;
}

#menu_principal {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 60px;

    
}

#menu_principal.rolagem {
    background-color: rgb(255, 255, 255);
}

#section_menu_principal{
    width: 100%;
    position: relative;
    display: flex;
    column-gap: 1.4%;
    position: relative;
    left: 9%;
    top: 55.9%;


}

#parte_dos_links_do_menu {
    display: none;
}


/*logo imagem*/

#logo_zip_menu {
    position: fixed;
    top: 3.4%;
    left: 5.8%;
    background-image: url(/IMG/area_do_menu/logo_zip_parte_preta_2024_refeito.png);
    background-size: 52px;
    z-index: 300;
    width: 52px;
    height:40px;
}



#logo_zip_menu.rolagem {
    background-image: url(/IMG/area_do_menu/logo_zip_parte_preta_2024_refeito.png);
}

#logo_zip_menu_imagem {
    width: 105%;
}






/* barra_de_pesquisa_e_etc */

#barra_de_pesquisa_e_etc {
    display: none;
}

#barra_de_pesquisa_e_etc_responsivo {
   display: flex;
   position: relative;
   
}

/*barra de pesquisa*/
.search-container {
  position: fixed;
  display: block;
  left: 485px;
  top: 46px;
}

.search-icon {
  width: 18px;
  height: 18px;
  
  background-image: url(''); /* Adicione o caminho da sua imagem de ícone de pesquisa */
  background-size: cover;
  cursor: pointer;
}

.search-input {
  display: none;
  position: absolute;
  top: 0;
  right: 25px; /* Mudança de left para right */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px; /* Largura ajustada */
}


.show {
  display: block;
}

/*parte do menu lateral*/

  .article_menu_cell {
    position: relative;
    left: 300px;
  }
  
  .menu {
    position: fixed;
    top: 0;
    right: -50%; /* Inicialmente oculto */
    width: 50%; /* Metade da largura da tela */
    height: 100%;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease;
  }
  
  .menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
  }
  
  #openMenuBtn {
    position: fixed;
    top: 45px;
    left: 560px;
    background-image: url("../IMG/area_do_menu/cell/menu_cell.png");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    
    border: none;
    cursor: pointer;
  }
  
  /* Estilo para o ícone de menu */
  #openMenuBtn i {
    margin-right: 5px;
  }
  
  /* Estilo para o botão de fechar menu */
  .closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
  }
  
  .closeBtn i {
    font-size: 20px;
  }
  
  /* Estilo para o overlay */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Inicialmente transparente */
    z-index: 1; /* Colocar acima do conteúdo */
    display: none; /* Inicialmente oculto */
  }
  
  .overlay-active {
    background-color: rgba(0, 0, 0, 0.5); /* Preto semi-transparente */
  }
  

/*sacola*/
#article_icone_sacola_cell {
  position: relative;
  top: 18px;
  left: 520px;
  width: 100px;
  height: 100px;
}

#button_sacola_cell {
  
}