@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* parte do menu*/

#menu_principal_como_todo {
    position: fixed;
    z-index: 2;
    opacity: 100%;
    top: 2.3%;
}

.menu_como_todo{
    height: 10px;
    
    transition: 2s;
}

#menu_principal {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 52px;

    
}

#menu_principal.rolagem {
    background-color: rgb(255, 255, 255);
}

#section_menu_principal{
    width: 100%;
    position: relative;
    display: flex;
    column-gap: 1.4%;
    position: relative;
    left: 9%;
    top: 55.9%;


}

#parte_dos_links_do_menu {
    display: none;
}


/*logo imagem*/

#logo_zip_menu {
    position: fixed;
    top: 3.3%;
    left: 3.8%;
    background-image: url(/IMG/area_do_menu/logo_zip_parte_preta_2024_refeito.png);
    background-size: 44px;
    z-index: 300;
    width: 44px;
    height:35px;
}



#logo_zip_menu.rolagem {
    background-image: url(/IMG/area_do_menu/logo_zip_parte_preta_2024_refeito.png);
}

#logo_zip_menu_imagem {
    width: 105%;
}






/* barra_de_pesquisa_e_etc */



/* imagem da barra de pesquisa e etc */

#imagem_da_barra_de_pesquisa_e_etc {
    z-index: 1;
    position: fixed;
    display: flex ;
    column-gap: 29.7px;
    right: 29.3%;
    top: 3%;
    height: 2.3%;
    
}

/*imagem da barra de pesquisa responsivo*/
.search-container {
    display: block;
}

.search-container {
    position: fixed;
  }
  
  .search-icon {
    width: 20px;
    height: 24px;
    transform: rotate(315deg);
    background-image: url('../../IMG/area_do_menu/icone_pesquisa_preto.svg'); /* Adicione o caminho da sua imagem de ícone de pesquisa */
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;
  }
  
  .search-input {
    display: none;
    position: absolute;
    top: 0;
    right: 25px; /* Mudança de left para right */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px; /* Largura ajustada */
  }
  
  
  .show {
    display: block;
  }
  

/* imagem da barra de pesquisa */

#imagem_da_barra_de_pesquisa{
    display: none;
    transform: rotate(315deg);
    position: relative;
    top: 1.5px;
    height: 22.2px;
    width: 14px;
    background-image: url('../IMG/area_do_menu/icone_pesquisa_branco.svg');
    background-size: 14px;
}

#imagem_da_barra_de_pesquisa.rolagem {
    background-image: url('../IMG/area_do_menu/icone_pesquisa_preto.svg');
}


/* imagem do icone de favorito */

#imagem_do_icone_de_favorito{
    display: none;
    position: relative;
    top: 2.5px;
    height: 19px;
    width: 20px;
    background-image: url('../IMG/area_do_menu/icone_favorito_branco.svg');
}

#imagem_do_icone_de_favorito.rolagem {
    background-image: url('../IMG/area_do_menu/icone_favorito_preto.svg');
}

/* imagem do icone de pessoa */

#imagem_do_icone_de_pessoa {
    display: none;
    position: relative;
    top: 0.5px;
    width: 17px;
    height: 21px;
    background-image: url('../IMG/area_do_menu/icone_pessoa_branco.svg');
}

#imagem_do_icone_de_pessoa.rolagem {
    background-image: url('../IMG/area_do_menu/icone_pessoa_preto.svg');
}

/* imagem do icone da conta */

#imagem_do_icone_da_sacola {
    position: relative;
    top: 2px;
    width: 17px;
    height: 19px;
    background-image: url('../IMG/area_do_menu/icone_sacola_preto.svg');
    background-size: 16px;
    background-repeat: no-repeat;
}

#imagem_do_icone_da_sacola.rolagem {
    background-image: url('../IMG/area_do_menu/icone_sacola_preto.svg');
}

/*icone de menu*/
#Imagem_do_menu {
    background-image: url('../IMG/area_do_menu/icone_do_menu2.svg');
    background-size: 24px;
    background-repeat: repeat-y;
    position: relative;
    left: -20%;
    top: 5px;
    width: 30px;
    height: 18px;
    
}