/*bolinhas*/
@media screen and (min-width: 400px) and (max-width: 415px) {
    #larezzo_bolinha_cell {
        position: relative;
        top: -11vh;
        left: -7.5vw;
    }
}


@media screen and (min-width: 420px) and (max-width: 430px) {
    #larezzo_bolinha_cell {
        position: relative;
        top: -9vh;
        left: -6vw;
        
    }
}


@media screen and (min-width: 300px) and (max-width: 360px) {
    #larezzo_bolinha_cell {
        position: relative;
        top: -20vh;
        left: -13.5vw;
    }

}


@media screen and (min-width: 361px) and (max-width: 375px) {
    #larezzo_bolinha_cell {
        position: relative;
        top: -22vh;
        left: -10.5vw;
    }
}


@media screen and (min-width: 380px) and (max-width: 391px) {
    #larezzo_bolinha_cell {
        position: relative;
        top: -15vh;
        left: -9vw;
    }
}