@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

#AllBazar{
    margin-top: 7.5%;
}

#none{
    text-decoration: none;
    color: black;
}

#imageSection {
    margin-top: -1vw;
    position: relative;
    width: 100%;
    height: 820px;
}


#imagePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #868686;
}


#formOverlay {
    position: absolute;
    bottom: 15%;
    right: 5%;
    display: flex;
    flex-direction: column;
    

}

#Name, #Year{
    width: 100%;
    height: 100%;
    text-align: end;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: -1vw;
    letter-spacing: -4px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;

}

#Description{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    text-align: end;
}

#additionalInputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 150px;
    padding: 10px;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -4px;
}

#titulo{
    margin-top: -1.7vw;
    width: 100vh;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: -4px;
}



#textAreaSection {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    padding: 10px;

}

#bio{
    width: 100vh;
    height: 100%;
    text-align: center;
}


/* Carrosel */

#product{
    flex-direction: row;
    display: flex;
}

#cen{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 8vw;
    margin-top: 6vw;
}


#ash{
    margin-top: 15px;
    margin-bottom: 6px;
    background-color: rgb(216, 215, 215);
    width: 23vw;
    height: 31vw;
    display: grid;
    place-items: center;
    margin-right: 5px;
}

#cust{
    font-size: 18px;
    margin-left: 1vw;
    width: 100%;
}

#cust:nth-child(2) {
    margin: 0.5vw 0 0 1.2vw;
    font-weight: 500;
    font-size: 20px;
}

#cust:nth-child(3) {
    margin-left: 1vw;
}


@media (max-width: 768px) {

    #imageSection {
        height: 90vh;
    }

    #Name, #Year{
        margin-bottom: -5vw;
    }
    
    #Description{
        margin: 30px 0 8vw 0;
    }

    #titulo {
        display: none;
    }

    #textAreaSection {
        width: 80vw;
        margin: -23vw 0 14vw 9.5vw;
    }

    #formOverlay input,
    #additionalInputs input {
        width: 80%;
    }
    #formOverlay {
        bottom: 5%;
        right: 5%;
    }
    #textAreaSection textarea {
        width: 80%;
    }
    #ash{
        width: 12vw;
        height: 18vw;
    }
    #cust{
        font-size: 16px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    #formOverlay input,
    #additionalInputs input {
        width: 90%;
    }

    #textAreaSection textarea {
        width: 90%;
    }
    #ash{
        width: 46vw;
        height: 70vw;
        margin-left: 0.5vw;
    }
    
    #cust:nth-child(2) {
        margin: 0.5vw 0 0 4vw;
        font-weight: 600;
        font-size: 14px;
    }
    
    #cust:nth-child(3) {
        margin: 0 0 9vw 3.5vw;
        font-size: 13px;
    }
}


#addyy{
    width: 100%;
    height: 100%;
}