.slider3 {
    width: 100%;
    height: 820px;
    position: absolute;
    left: 0;
    overflow: hidden; /* <===  */
    border-radius: 15px;
  }
  
  .slide3 {
    width: 100%;
    height: 525px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    font-size: 18px;
    right: 10px;
  }
  .btn img {
    width: 120px;
    position: relative;
    right: 50px;
    top: -50px;
  
  }
  .btn:active {
    transform: scale(1.1);
  }
  .btn-prev3 {
    top: 45%;
    left: 2%;
    display: none;
  }
  .btn-next3 {
    top: 695%;
    left: 97.5%;
  }
  
  /*estetica*/
  /*section*/
#parte_section_pequeno_pricipe_total {
  width: 1806px;
  height: 1700px;
  overflow: hidden;
  position: relative;
  top: -125px;
}

  .roupas_pequeno_principe_section{
    position: relative;
  top: -550px;
  left: 2.4%;
  width: 1800px;
  height: 1700px;
  overflow: hidden;
  }

  .roupas_cat_down_article {
    position: relative;
    top: 480px;
    width: 100%;
    height: 500px
  }

  .roupas_cat_down-grupo {
    display: flex;
    column-gap: 8px;
  }

  /*slides*/
  /*slide 1*/
  .blusa_branca_cat_down {
    position: relative;
    top: 200px;
    width: 506px;
    height: 833px;
  }

  #principess {
    width: 503px;
  height: 633px;
  background-image: url('../IMG/bazar/slide_pequeno_principe/produto1.png');
  position: relative;
  top: -750px;
  }

  #principess:hover {
    background-image: url("../IMG/bazar/slide_pequeno_principe/produto1_hover.png");
  }

  /*slide 2*/
  .calça_azul_cat_down {
    position: relative;
    top: 200px;
    width: 506px;
    height: 833px;
  }

  #principess2 {
    width: 503px;
  height: 633px;
  background-image: url('../IMG/bazar/slide_pequeno_principe/produto2.png');
  position: relative;
  top: -750px;
  }

  #principess2:hover {
    background-image: url("../IMG/bazar/slide_pequeno_principe/produto2_hover.png");
  }

  /*slide 3*/
  .jaqueta_preta_cat_down {
    position: relative;
    top: 200px;
    width: 506px;
    height: 833px;
  }

  #principess3 {
    width: 503px;
  height: 633px;
  background-image: url('../IMG/bazar/slide_pequeno_principe/produto3.png');
  position: relative;
  top: -750px;
  }

  #principess3:hover {
    background-image: url("../IMG/bazar/slide_pequeno_principe/produto3_hover.png");
  }

  /*slide4*/
  .blusa_branca2_cat_down{
    position: relative;
    top: 200px;
    width: 506px;
    height: 833px;
  }

  #principess4 {
    width: 503px;
  height: 633px;
  background-image: url('../IMG/bazar/slide_pequeno_principe/produto4.png');
  position: relative;
  top: -750px;
  }

  #principess4:hover {
    background-image: url('../IMG/bazar/slide_pequeno_principe/produto4_hover.png');
  }

  /*slide5*/
  .blusa_branca2_cat_down2{
    position: relative;
    top: 200px;
    width: 506px;
    height: 833px;
  }

  #principess5 {
    width: 503px;
  height: 633px;
  background-image: url('../IMG/bazar/slide_pequeno_principe/produto4.png');
  position: relative;
  top: -750px;
  }

  #principess5:hover {
    background-image: url('../IMG/bazar/slide_pequeno_principe/produto4_hover.png');
  }

  /*pargarafos*/
  .parte_escrita__das_roupas_cat_down {
    position: relative;
    top: -735px;
    left: 6%;
  }

  .roupas_cat_down_paragrafo {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 11px;

  }

  /*preço*/
  .roupas_cat_down_paragrafo_preco {
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 0.5px;
    top: 22px;
    font-size: 15px;
  }

  /*ver mais*/
  /*article*/
  .ver_mais_cat_down_slide_article {
    position: relative;
    left: 87.9%;
    top: 922px;
  }

  /*paragrafo*/
  .ver_mais_cat_down_slide_paragrafo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 27px;

  }

  .ver_mais_cat_down_slide_paragrafo:hover{
    opacity: 85%;
    cursor: pointer;
  }