.slider2 {
    width: 100%;
    height: 820px;
    position: absolute;
    left: 0;
    overflow: hidden; /* <===  */
    border-radius: 15px;
  }
  
  .slide2 {
    width: 100%;
    height: 525px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    font-size: 18px;
    right: 10px;
  }
  .btn img {
    width: 120px;
    position: relative;
    right: 50px;
    top: -50px;
  
  }
  .btn:active {
    transform: scale(1.1);
  }
  .btn-prev2 {
    top: 45%;
    left: 2%;
    display: none;
  }
  .btn-next2 {
    top: 445%;
    left: 97.5%;
  }
  
  /*estetica*/

  .parte_section_sol {
    width: 1800px;
    height: 1700px;
    overflow: hidden;
  }

  #section_instituto_sol_slide {
    position: relative;
  top: 180px;
  left: 2.4%;
  width: 1800px;
  height: 1700px;
  overflow: hidden;

  }

  .roupas_article{
    position: relative;
    top: 480px;
    width: 100%;
    height: 500px
  }

  .roupas-grupo {
    display: flex;
    column-gap: 1px;
  }

  /*slides*/
  /*slide 1*/

  .sol_roupas {
    width: 503px;
  height: 633px;
  background-image: url('../IMG/bazar/instituto_sol_slide/produto1.png');
  position: relative;
  top: -750px;
  }

  .blusa_rosa {
    position: relative;
    top: 200px;
    width: 506px;
    height: 833px;
  }



  .sol_roupas:hover {
    background-image: url('../IMG/bazar/instituto_sol_slide/produto1_hover.png');
  }

  /*slide 2*/

  .sol_roupas2 {
    width: 503px;
  height: 633px;
  background-image: url('../IMG/bazar/instituto_sol_slide/produto2.png');
  position: relative;
  top: -750px;
  }

  .bolsa_preta_yupiee {
    position: relative;
    top: 200px;
    width: 506px;
    height: 833px;
  }

  .sol_roupas2:hover {
    background-image: url("../IMG/bazar/instituto_sol_slide/produto2_hover.png");
  }

  /*slide 3*/

  .sol_roupas3 {
    width: 503px;
  height: 633px;
  background-image: url('../IMG/bazar/instituto_sol_slide/produto3.png');
  position: relative;
  top: -750px;
  }

  .jaqueta_preta_yupiee {
    position: relative;
    top: 200px;
    width: 506px;
    height: 833px;
  }

  .sol_roupas3:hover {
    background-image: url("../IMG/bazar/instituto_sol_slide/produto3_hover.png");
  }

  /*slide4*/

  .sol_roupas4 {
    width: 503px;
  height: 633px;
  background-image: url('../IMG/bazar/instituto_sol_slide/produto4.png');
  position: relative;
  top: -750px;
  }

  .calça_preta_yupiee{
    position: relative;
    top: 200px;
    width: 506px;
    height: 833px;
  }
  .sol_roupas4:hover {
    background-image: url('../IMG/bazar/instituto_sol_slide/produto4_hover.png');
  }

  /*slide5*/

  .sol_roupas5 {
    width: 503px;
  height: 633px;
  background-image: url('../IMG/bazar/instituto_sol_slide/produto4.png');
  position: relative;
  top: -750px;
  }  

  .calça_preta_yupiee2{
    position: relative;
  top: 200px;
  width: 506px;
  height: 833px;
  }

  .sol_roupas5:hover {
    background-image: url('../IMG/bazar/instituto_sol_slide/produto4_hover.png');
  }

  /*pargarafos*/
  .parte_escrita__das_roupas_yupiee {
    position: relative;
    top: -735px;
    left: 6%;
  }

  .roupas_yupiee_paragrafo {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 11px;

  }

  /*preço*/
  .roupas_yupiee_paragrafo_preco {
  font-family: 'Poppins', sans-serif;
  position: relative;
  left: 0.5px;
  top: 22px;
  font-size: 15px;
  }