/*yupie section*/
.parte_instituto_sol_section {
    position: relative;
    top: 555px;
    
}

/*parte escrita yupiee*/
/*artcle*/
.parte_escrita_instituto_sol_article {
    display: flex;
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*img*/
.parte_escrita_instituto_sol_img {
    width: 329px;
    position: relative;
    left: 0.3%;
    top: -11px;
}

/*paragrafo*/
/*article*/
.paragrafo_do_instituto_sol_article {
    display: flex;
    position: relative;
    top: 48px;
    left: -0.5%;
    
}

/*pargarfo*/
.paragrafo_do_instituto_sol_paragrafo {
    width: 1920px;
    font-size: 17px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: block;
}

